body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(to right, #b4afdf, #d7c3dd);
}

.no-break {
    white-space: nowrap;
    word-wrap: nowrap;
}

h1, 
h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2{
    margin-top: 20;
}

.coeficient{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-top: 20px;
}

input[type="text"] {
    width: 130px;
    height: 36px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
}

.roots,
.result {
    text-align: center;
    margin: 30px;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.twoRoots,
.oneRoot,
.noRoots{
    color:#FF0000;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
}