body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    background: linear-gradient(to right, #b4afdf, #d7c3dd);
}

.no-break {
    white-space: nowrap;
    word-wrap: nowrap;
}

h1, 
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.borderForm{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;
}

.coeficients{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

label {
    margin-top: 20px;
}

input[type="text"] {
    width: 130px;
    height: 36px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.result-roots{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
}

.roots,
.result {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.roots-border{
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 0;
}

.twoRoots,
.oneRoot,
.noRoots{
    color:#FF0000;
    font-family: 'Times New Roman', Times, serif;
}